/* Anna Boberg & Jakob Gauffin */
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.15rem;
    background-color: rgb(235, 235, 235);
    width: 100vw;
    margin: 0;
}

h1{
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    margin: 1rem 0;
    line-height: 3.5rem;
    
}

h2{
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    margin: 1rem 0;
    line-height: 3.5rem;
}

h3{
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
}

.greynumber{
    color: rgba(153, 153, 153, 0.8);
    font-size: 2rem;
}

.biglink{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    margin: 0;
    line-height: 0;
}

a{
    color: white;
    text-decoration: none;
}

button{
    background-color: white;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 30px;
    margin: 2.5rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    -webkit-box-shadow: 1px 6px 7px -5px #383838; 
box-shadow: 1px 6px 7px -5px #383838;
}

.white {
    color: white;
}

.intro {
    width: 69.5%;
    margin: 0 auto;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bluebox {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(199, 221, 234);
}
.family {
    margin: 15rem 0 0 0;
    line-height: 0;
}

.blueboxtext{
    width: 58%;
    margin: 4rem auto;
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

.introtext {
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.rustbox {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    background-color: rgb(241, 121, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goldbox {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    background-color: rgb(250, 177, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article > p {
    margin: 0.5rem 0;
    line-height: 1.7rem;
}

article > .centeredtext {
    margin: 0.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.topnav {
    width: 69.5%;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

.topnav ul {
    margin: 2rem 10.5rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topnav a {
    color: rgb(143, 143, 143);
    font-weight: bold;
    font-size: 0.9rem;
}

.topnav a:visited {
    color: black;
}

main {
    margin: 0 auto;
    width: 69.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.homepagegrey {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    background-color: rgb(169, 161, 158)
}

.homepagegold {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    background-color: rgb(250, 177, 49)
}

.homepagesection {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    margin: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gridarticlea {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (360px 1fr));
    grid-gap: 8.3rem;
}

.articleleft {
    grid-column: 1/span 1;
    grid-row: 1/span1;
}

.articleright {
    grid-column: 2/span 1;
    grid-row: 1/span1;
    margin: 0 5rem 0 0;
}

.homepagearticleb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    font-size: 0.9rem;
    color: rgb(169, 161, 158);
}

.homepagearticleb h3{
    color: black;
}

.whitecardchild{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    margin-top: 3rem;
    text-align: center;
    -webkit-box-shadow: 1px 10px 11px -4px #383838; 
    box-shadow: 1px 10px 11px -4px #383838;
}

.whitecardadult{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    margin-top: 3rem;
    text-align: center;
    -webkit-box-shadow: 1px 10px 11px -4px #383838; 
    box-shadow: 1px 10px 11px -4px #383838;
}

.whitecardold{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    margin-top: 3rem;
    text-align: center;
    -webkit-box-shadow: 1px 10px 11px -4px #383838; 
    box-shadow: 1px 10px 11px -4px #383838;   
}

.blueboxchild {
    height: 11rem;
    background-color: rgb(199, 221, 234);
    border-radius: 1rem;
    margin-top: -3rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.goldboxadult {
    height: 11rem;
    background-color: rgb(250, 177, 49);
    border-radius: 1rem;
    margin-top: -3rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rustboxold {
    height: 11rem;
    background-color: rgb(241, 121, 73);
    border-radius: 1rem;
    margin-top:-3rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.homepagearticlec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 6rem 4rem 6rem;
    text-align: center;
}

.boxcontent{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.boxarticle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxh2{
    margin: 0 15%;
    text-align: center;
}

.boxcontent .greynumber {
    display:flex;
    align-self: flex-start;
    margin: 2rem;
    height: 0%;
}

.boxcontent p{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: -4rem 5rem;
    z-index: 2;
    color: rgb(77, 77, 77);
    text-align: center;
}

.boxcontent >article:nth-of-type(1){
    background-color: rgb(199, 221, 234);
}

.boxcontent >article:nth-of-type(2n){
    background-color: white;
}

.boxcontent >article:nth-of-type(3){
    background-color: rgb(235, 235, 235);
}

.boxcontent > article:nth-of-type(5){
    background-color: rgb(241, 121, 73);
}

.bottomnav{
    margin: 0 auto;
    width: 69.5%;
    background-color: rgb(169, 161, 158);
    display: flex;
    flex-direction: column;
}

.bottomnav p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 48, 47);
    font-weight: bold;
    line-height: 0rem;
    margin: 0.5rem;
}

.upperp {
    padding: 1rem 0 0rem 0;
    font-size: 1.8rem;
}
.lowerp {
    padding: 0 0 2rem 0;
}

footer{
    background-color: rgb(71, 73, 73);
    margin: 0 auto;
    width: 69.5%;
    height: 10rem;
}

.headergrid{
    margin: 0 auto;
    width: 69.5%;
    background-color: rgb(199, 221, 234);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hello{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.headerimage{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2rem;
}

.contactpage{
    margin: 0 auto;
    width: 69.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.formgrid{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(169, 161, 158);
}

.formgrid div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5rem 8rem;    
}

input{
    line-height: 2rem;
}

textarea {
    font-family: 'Fira Sans', sans-serif;
    line-height: 3rem;
    text-indent: 1rem; 
}

.formwidth {
    width:100%;
    resize: none;
}

form p{
    color: white;
    align-self: flex-start;
    padding-left: 0;
    margin: 2rem 0 0.6rem 0;
}

.formbutton{
    align-self: flex-end;
}

.map{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    display: flex;
    background-image: url(/images/sanfransisco.jpg)
}

.map article{
    background-color: rgb(250, 177, 49);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 20rem 2rem;
    padding: 1rem;
}

.map h2{
    justify-content: flex-start;
}

.map p{
    line-height: 1rem;
}