body {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a:link {
    text-decoration: none;
  }

h1 {
    font-family: 'DM Serif Display', serif;    
    font-size: 2rem;
    text-align: left;
    line-height: 1;
}

.h1white {
    font-family: 'DM Serif Display', serif;    
    font-size: 2rem;
    color: white;
    text-align: left;
    line-height: 1;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
    color: black;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: .7rem;
    color: rgb(61, 61, 61);
}

.psmall {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: .6rem;
}

span {
    color: white;
}

.button {
    width: 5rem;
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 2px 2px grey;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px;
    margin-inline: 4%;
}

.left {
    grid-area: 1 / 1 / span 2 / span 1;
    padding: 50px;
    background-color: rgb(172, 213, 221);
    background-image: url(family.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 90%;
}

.righttop {
    padding: 50px;
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: lightcoral;
}

.rightbottom {
    padding: 50px;
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: orange;
}

nav {
    text-align: center;
    padding: 25px;
}

nav a {
    font-family: 'Quicksand', sans-serif;
    font-size: .7rem;
    color: rgb(61, 61, 61);
    padding: 30px;
}

.navactive {
    font-family: 'Quicksand', sans-serif;
    font-size: .7rem;
    font-weight: bold;
    color: rgb(61, 61, 61);
    padding: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(179, 179, 179);
    height: 400px;
    margin-inline: 4%;
}

.topleft {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 300px;
    padding: 50px;
    text-align: center;
}

.topright {
    grid-area: 1 / 2 / span 1 / span 2;
    width: 300px;
    padding: 50px;

}

.button2 {
    width: 5rem;
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 2px 2px grey;
    text-align: center;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    position: absolute;
    top: 740px;
    left: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    width: 170px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    text-align: center;
}

.card p {
    text-align: center;
}

h3 {
    margin-top: -15px;
}

.pic1 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;
    background-size: 3.5rem;
    background-image: url(child.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 3px;
    background-color: rgb(172, 213, 221);
    height: 120px;
    width: 170px;
}

.pic2 {
    position: relative;
    bottom: 35px;
    background-size: 3.5rem;
    background-image: url(adult.png);
    background-repeat: no-repeat;
    background-position: 60px 20px;
    border-radius: 3px;
    background-color: orange;
    height: 120px;
    width: 170px;
}

.pic3 {
    position: relative;
    bottom: 35px;
    background-size: 6rem;
    background-image: url(old.png);
    background-repeat: no-repeat;
    background-position: 40px 20px;
    border-radius: 3px;
    background-color: lightcoral;
    height: 120px;
    width: 170px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    height: 300px;
    margin-inline: 4%;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    background-color: orange;
}

.bottom h1 {

    text-align: center;
}

.bottom p {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 233px 233px;
    margin-inline: 4%;
}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 213, 221);
}

.s1 h1 {
    text-align: center;
}

.s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 179, 179);
}

.s4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.s5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}

.s6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.numberbox {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    margin-inline-start: 10%;
}

.numberbox p {
    font-family: 'DM Serif Display', serif;    
    font-size: 1.5rem;
    color: rgb(2, 2, 2, 0.6)
}

.return {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 4%;
    padding-block: 10px;
    background-color: rgb(179, 179, 179);
}

.return p {
    margin: 0px;
}

footer {
    height: 200px;
    background-color: gray;
    margin-inline: 4%;
}